<form>
    <div class="corpo">
        <h1>EXCLUIR categoria</h1>
        <mat-form-field class="form">
            <mat-label>Nome</mat-label>
            <input type="text" matInput name="nome" disabled [(ngModel)]="categoria.nome">
        </mat-form-field>
        <mat-form-field class="form">
            <mat-label>Descrição</mat-label>
            <textarea type="textarea" matInput name="descricao" disabled [(ngModel)]="categoria.descricao"></textarea>
        </mat-form-field>    
    
        <div class="buttons">
            <button mat-raised-button color="raised" class="botao" (click)="delete()">Confirmar exclusão [ X ]</button>
            <button mat-raised-button color="warn" class="botao" (click)="cancelar()">Cancelar [ - ]</button>
        </div>        
    </div>
</form>