<mat-sidenav-container class="container">

   
    <!-- Mat-sidenav que contém o menu -->
    <mat-sidenav #sidenav mode="side" [opened]="isMenuOpen" [mode]="drawerMode" fixedTopGap="64" autosize="true"  class="menu" disableClose="false" hasBackdrop="true">
        <!-- Botão de ícone de menu para abrir o sidenav quando estiver em modo 'over' -->
        <button mat-icon-button (click)="toggleMenu()" class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>         
        <mat-nav-list class="home">
            <a routerLink="" mat-list-item><i class="material-icons">home</i>Home</a>
        </mat-nav-list>
        <mat-nav-list>
            <a routerLink="/categorias" mat-list-item><i class="material-icons">menu_book</i>Categorias</a>
        </mat-nav-list>
    </mat-sidenav>  

    <!-- Conteúdo principal do aplicativo -->
    <mat-sidenav-content class="conteudo">
        <!-- Botão de ícone de menu para abrir o sidenav quando estiver em modo 'over' -->
        <button mat-icon-button (click)="toggleMenu()" class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>         
        <!-- Carrega os endpoints chamados por routerLink no menu -->
        <router-outlet></router-outlet>   
    </mat-sidenav-content>

</mat-sidenav-container>
  