form{text-align: center; width: 60%; margin:2rem auto 0 auto;}
.corpo{ 
    padding:0.2rem 0 1.5rem 0; 
    background-color: #ccc; 
    border-radius: 41px 41px 41px 41px;
    -webkit-border-radius: 41px 41px 41px 41px;
    -moz-border-radius: 41px 41px 41px 41px;
    background: #9f9f9f;
    background: linear-gradient(0deg,#adadad 0%, #dadada 80%);
    background: -webkit-linear-gradient(0deg,#c2c2c2 0%, #dadada 80%);
    background: -moz-linear-gradient(0deg,#b1b1b1 0%, #dadada 80%);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.18);
}
h1{font-size: 1.5rem; font-weight: 500; margin: 1.5rem 2.5rem 1.5rem 0; color:#333;}
.form{width: 55%;}
.buttons{padding-left: 22.5%; text-align:start;}
.buttons button{margin-right:.8rem;}
