/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content{
    width: 90%;
    margin:1.4rem auto auto auto;
}
.crud{
    width: 55px;
    height: 25px;
}
tr th, tr td{
    padding: 0 7px !important;
}
.title{
    text-align: center;
    margin-bottom: 1.7rem;
}
.title h1{
    font-size: 1.21rem;
    color:rgb(56, 56, 56);
    text-transform: uppercase;
    font-weight: bold;
}
.botao{
    margin-bottom: .55rem;
}
.edit{
    color: #2e2c2b;
    float: left;
}
.livros{
    margin-left: 1.1rem;
}
.book{
    color: #2e2c2b;
}
.delete{
    color: #2e2c2b;
    margin-left: .33rem;
    float: left;    
}
.mat-header{
    width: 5.4rem;
}
.botao{
    margin-bottom: .55rem;
}
.edit{
    color: #2e2c2b;
}
.livros{
    margin-left: 1.1rem;
}
.book{
    color: #2e2c2b;
}
.delete{
    color: #2e2c2b;
    margin-left: .33rem;
}
.mat-header{
    width: 5.4rem;
}



form{text-align: center; width: 85%; margin:2rem auto 0 auto;}

.corpo{ 
    padding:0.2rem 0 1.5rem 0; 
    background-color: #ccc; 
    border-radius: 41px 41px 41px 41px;
    -webkit-border-radius: 41px 41px 41px 41px;
    -moz-border-radius: 41px 41px 41px 41px;
    background: #9f9f9f;
    background: linear-gradient(0deg,#adadad 0%, #dadada 80%);
    background: -webkit-linear-gradient(0deg,#c2c2c2 0%, #dadada 80%);
    background: -moz-linear-gradient(0deg,#b1b1b1 0%, #dadada 80%);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.18);
}
h1{font-size: 1.5rem; font-weight: 500; margin: 1.5rem 2.5rem 1.5rem 0; color:#333;}
.form{width: 95%;}
.buttons{padding-left: 22.5%; text-align:start;}
.buttons button{margin-right:.8rem;}

@media screen and (max-width: 560px) {
    form{text-align: center; width: 95%; margin:2rem auto 0 auto;}
    .form{width: 95%;}
  }
